.manual{
    background-color:darkgray;
    height: 200px;
    padding-left: 20px;
    padding-top: 50px;

 }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1{
    font-family: 'Roboto', sans-serif;
}

p{
    font-weight: lighter;
}